@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center my-2">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-3">
            <h2 class="text-body-emphasis">Welcome to the Programming Template Store</h2>
            <p>
                Explore, submit, and purchase high-quality programming templates tailored for developers of all levels.
                Whether you're looking to kickstart a new project or share your own creations, this platform provides a seamless experience.
            </p>
            <p>
                Manage your submitted templates, browse a variety of coding solutions, and find the perfect resource to save time and boost productivity.
                Join our community of developers and bring your ideas to life with our curated template collection.
            </p>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <img src="/imgs/Python-template.jpeg" alt="Python" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">Python Template</small>
                </div>
            </div>
       </div>
      </div>
    <div class="col">
        <div class="card shadow-sm">
            <img src="/imgs/React.jpeg" alt="React" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">React Template</small>
                </div>
            </div>
        </div>
     </div>
    <div class="col">
        <div class="card shadow-sm">
            <img src="/imgs/Java_template.jpeg" alt="Java" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">Java Template</small>
                </div>
            </div>
        </div>
    </div>
</div>





